<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBMPtEquQ_TqazZq4gf83NBgPghASjUT_w</string>
	<key>GCM_SENDER_ID</key>
	<string>775484333845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.nyurats</string>
	<key>PROJECT_ID</key>
	<string>nyurats-lph82n</string>
	<key>STORAGE_BUCKET</key>
	<string>nyurats-lph82n.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775484333845:ios:e7c4cbfd175f746a5a931c</string>
</dict>
</plist>